<!DOCTYPE html>
<html>
  <head>
    <title>Fake Instagram</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <header>
      <div class="container header">
        <div id="logo">
          <img src="/img/logo.png">
        </div>
        <div class="busca">
          <form>
            <input type="search" class="search" placeholder="buscar usuarios">
          </form>
        </div>
        <nav>
          <a href="http://">
            <img src="/img/icons/home.svg">
          </a>
          <a href="">
            <div class="avatar-content">
              <img class="avatar" src="/img/avatar-example.png">
              <b><%=usuario.nome%></b>
            </div>
          </a>
        </nav>
      </div>
    </header>
    <main class="container content">
      <div class="card">
        <div class="card-header">
          <div>
            <img class="avatar" src="/img/avatar-example.png">
            <b><%=usuario.nome %></b>
          </div>
            <img src="/img/icons/more-vertical.svg">
        </div>
        <form action="/publicar" method="POST" enctype="multipart/form-data">
          <input name="files" type="file" style="padding: 15px;">
          <div class="form-comments">
          <input name="usuario" type="text" class="id" value="<%=usuario.id%>">
          <input name="texto" type="text" placeholder="Escreva uma legenda...">
          <button type="submit">Publicar</button>
        </div>
        </form>
      </div>
      <% for (post of posts) { %>
      <div class="card">
        <div class="card-header">
          <div>
            <img class="avatar" src="/img/avatar-example.png">
            <b><%= post.usuario.nome %></b>
          </div>
            <img src="/img/icons/more-vertical.svg">
        </div>
        <div class="card-img">
          <img src="<%=post.img%>">
        </div>
        <div class="card-body">
          <div class="card-itens">
            <div class="likes">
              <form action="/curtir" method="POST">
                <input class="id" name="post" value="<%=post.id%>">
                <button name="<%=post.id%>" type="submit"><img src="/img/icons/heart.svg"></button>
              </form>
              
              <b><%= post.n_likes %> Likes</b>
            </div>
            <b>Postado no dia: 16/04/2020</b>
          </div>
          <div class="card-comments">
            <p> <%= post.texto %></p>
            <% for (comentario of post.comentarios){ %>
            <p><b><%= comentario.usuario.nome %></b> <%= comentario.texto %></p>
          <% }%>
          </div>
         
        </div>
        <form class="form-comments" action="/comentario" method="POST">
          <input name="usuario" type="text" class="id" value="<%=usuario.id%>">
          <input name="post" type="text" class="id" value="<%=post.id%>">
          <input name="comentario" type="text" placeholder="Adicione um comentário...">
          <button type="submit">Publicar</button>
        </form>
      </div>
     <% } %> 
      
    </main>
  </body>
</html>
